.Setting{
    color: white;
    position: absolute;
    background-color: #484B52;
    right: 0px;
    height: 100vh;
    z-index: 9999;
    top:0;
    /* width: 20vw; */
    width: 275px;
    padding-left: 20px;
}

#themeOption, #settingText, #themeColor{
    border-bottom: 1px solid #26272a;
    padding-bottom: 20px;

}

.Setting input{
    cursor: pointer;
}

.Setting label{
    margin-right: 20px;
    margin-left: 5px;
    cursor: pointer;
}
#settingText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#settingText svg{
    font-size: 30px;
    color: rgb(182, 167, 167);
    padding: 5px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 50%;
}

#settingText svg:hover{
    background-color: white;
}

/* #CROSSbtn{
    position: relative;
} */

