.Customers {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  margin: 20px 70px 20px 50px;
}

.Customers h3 {
  color: rgb(136, 124, 124);
  margin: 0;
  font-weight: 400;
}
.Customers h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  /* color: rgb(184, 169, 169); */
}

.Customers table {
  width: 100%;
}

.Customers table td {
  padding: 10px 10px 3px 10px;
  text-align: center;
  /* height: 100px; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.364); */
}
/* 
.Customers table tr{
  
} */

#customerData {
    /* display: flex; */
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 150px; */
    gap: 20px;
}
.CustomerImg {
    /* width: 20px; */
    border-radius: 50%;
}

.customerName p {
    /* width: 100px;
    text-align: center; */
    margin: 0;
    font-size: 13px;
}

th,td {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    border-collapse: collapse;
}
/* table,th {
    border: 1px solid rgba(0, 0, 0, 0.322);
    border-collapse: collapse;
} */

table{
    border-collapse:collapse;
}
#customerStatus{
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 81px; */
    /* width: 80px; */
    /* margin-bottom: 10px; */
}

#customerStatus div{
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  /* margin-right: 10px; */
  /* align-items: center; */
  margin-top: 22px;
}

.Pagination button{
  background: none;
  border-radius: 50%;
  border: none;
  background-color: #E73571;
}