#ColorPicker{
    background-color: white;
    margin-right: 90px;
    margin-left: 30px;
    height: 90%;
    border-radius: 30px;
    padding: 20px 40px;
}

#ColorPicker h3,#ColorPicker h2{
    margin: 0;
}
#ColorPicker h3{
    color: grey;
    font-weight: 400;
}

#ColorPicker h2{
    font-size: 40px;
}

.ColorPickers{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
    /* text-align: center; */
}

.ColorPickers h1{
    text-align: center;
}

#ColorPicker p{
    text-align: center;
    margin: 0 auto;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 300px;

}

#colorInputCopy svg{
    cursor: pointer;
}

#ColorPicker p input{
    padding: 4px 15px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    outline: 0;
}

#clipboardAlert{
    display: none;
    position: fixed;
    text-align: center;
    color: white;
    border-radius: 10px;
    bottom: 20px;
    left: 44%;
    width: 12%;
    background-color: rgba(0, 0, 0, 0.388);
    padding: 10px 10px;
}

/* #ColorPicker p input:focus{
    width: 300px;
    border-bottom: 3px solid red; 
} */

#color{
    width: 450px;
    /* height: 30px; */
    margin: 30px auto 10px;
}

@media only screen and (max-width:1000px) {
    .ColorPickers{
        width: 80%;
    }
}
@media only screen and (max-width:757px) {
    .ColorPickers{
        width: 100%;
    }
}
@media only screen and (max-width:637px) {
    #color{
        width: 100%;
    }
    #color img{
        width: 100%;
    }
    .ColorPickers{
        flex-direction: column;
    }

    #clipboardAlert{
        /* display: block; */
        left: 20%;
        width: 40%;    
    }
}