.Navbar{
    display: flex;
    background-color: var(--BGDarkcolor);
    align-items: center;
    height: 60px;
    position: fixed;
    z-index: 9;
}

.Navbar ul{
    display: flex;
    position: fixed;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    width: 300px;
    right: 0px;
    margin: 10px 20px;
}


.navbarLogo{
    font-size: 20px;
}

.burger{
    font-weight: bolder;
    padding: 10px;
    margin: 10px 30px;
    font-size: 25px;
    cursor: pointer;
}

.Navbar ul li{
    display: flex;
    align-items: center;
    padding: 10px ;
    font-weight: bolder;
    cursor: pointer;
}

.Navbar ul li:last-child{
    height: 18px;
}

.Navbar ul li:hover,.burger:hover{
    background-color: white;
    border-radius: 20px;
}

.Navbar ul img{
    border-radius: 50%;
    margin-right: 5px;
}