/* @import url("https://cdn.syncfusion.com/ej2/material.css"); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


#settingLogo{
  position: fixed;
  background-color: #1A97F5;
  color: white;
  right: 20px;
  bottom: 20px;
  font-size: 33px;
  font-weight: bolder;
  padding: 5px;
  z-index: 99999;
  border-radius: 50%;
  cursor: pointer;
}

#settingLogo:hover{
  background-color: white;
  color: #1A97F5;
}

.navbarResponsive82{
  width:82vw;
  position:fixed;
  left:18vw
}

.navbarResponsive100{
  width:100vw;
  position:block;
  left:0vw
}

.Responsive82{
  /* width:82vw;
  position:fixed;
  left:18vw */
  width: 82vw;
  position: fixed;
  left: 19vw;
  top: 60px;
  background: #20232A;
  height: 94vh;
  padding: 10px 20px;
  overflow: scroll;
}

.Responsive100{
  /* width:100vw;
  position:block;
  left:0vw */
  width: 100vw;
  position: block;
  left: 0vw;
  top: 60px;
  background: #20232A;
  height: 94vh;
  padding: 10px 20px;
}

@media only screen and (max-width:1100px){
  .Responsive82{
    width: 100vw;
    left: 0;
    
  }
}